<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>Tienda de Alfajores</title>
</head>
<body>
    <div class="navbar">Barra de navegación</div>
    <br />
    {{{body}}}
    <br />
    <div class="footer">Pie de página</div>
</body>
</html>